.section {
  position: relative;
  background-color: var(--background);
  border-radius: 30px;
  padding: 216px 16px;
}
.wrapSection{
	max-width: 436px;
	margin: 0 auto;
}
.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: var(--main);
  margin-bottom: 32px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.emailContainer {
  margin-bottom: 16px;
}

.inputPassword {
  margin-bottom: 32px;
}

.passwordContainer {
  position: relative;
  width: 100%;
}

.label {
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: var(--main-text);
}

.input {
  background-color: transparent;
  border: 1px solid rgba(47, 47, 47, 0.2);
  border-radius: 15px;
  padding: 16px;
  height: 50px;
  width: 100%;
}

.inputError {
  border-color: #ef5050;
  color: #ef5050;
}

.error {
  bottom: 0px;
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: #ef5050;
  position: absolute;
  bottom: -15px;
}

.icon {
  stroke: var(--main-text);
  fill: none;
}

.submitBtn {
  background-color: var(--accent);
  color: var(--main);
  border-radius: 30px;
  padding: 16px;
  width: 100%;
  height: 50px;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-align: center;
  transition: 0.3s ease-in-out;
}

@media (hover: hover) and (pointer: fine){
	.submitBtn:hover,
	.submitBtn:focus {
	  background-color: #87d28d;
	}
}

.redirect {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-align: center;
  color: rgba(47, 47, 47, 0.5);
}

.nav {
  font-weight: 700;
  color: var(--main-text);
  position: relative;
}

.nav::before{
	content: '';
	position: absolute;
	left: 1px;
	bottom: 4px;
	width: 100%;
	height: 1px;
	background-color: var(--main-text);
	transition: 0.3s ease-in-out;
	opacity: 1;
}

@media (hover: hover) and (pointer: fine){
	.nav:hover::before{
		opacity: 0;
	}
}

.visibilityBtn {
  position: absolute;
  top: 15px;
  right: 15px;
}

@media screen and (min-width: 768px) {
  .section {
   padding-top: 281px;
	padding-bottom: 281px;
  }

  .title {
    font-size: 36px;
    line-height: 106%;
  }

  .label {
    font-size: 16px;
    line-height: 150%;
  }

  .input {
    height: 56px;
  }

  .emailContainer {
    margin-bottom: 20px;
  }

  .error {
    font-size: 14px;
    line-height: 129%;
	 bottom: -19px;
  }

  .visibilityBtn {
    top: 18px;
    right: 16px;
  }

  .submitBtn {
    padding: 18px;
    height: 60px;
    font-size: 16px;
    line-height: 150%;
  }
  .redirect {
    font-size: 16px;
    line-height: 150%;
  }
}

@media screen and (min-width: 1440px) {
  .section {
    padding: 169px 16px;
    margin-bottom: 0px;
  }
}
