.userInfo {
	margin-bottom: 40px;
}

.helloUser {
	font-family: "Gilroy", sans-serif;
	font-weight: 400;
	font-size: 32px;
	line-height: 100%;
	letter-spacing: -0.01em;
	color: var(--main);
	margin-bottom: 20px;
}

.userName {
	font-weight: 700;
}

.exclamationPoint {
	font-weight: 700;
}

.btnContainer {
	display: inline-block;
	position: relative;
}

.btnUser {
	display: flex;
	gap: 10px;
	align-items: center;
	border-radius: 30px;
	padding: 6px 12px;
	background: var(--main);

}

.popover {
	position: absolute;
	border-radius: 15px;
	padding: 14px 20px;
	width: 100%;
	margin-top: 8px;
	box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
	background: var(--main-white);
	opacity: 0;
	transform: translateY(-10px);
	transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
	pointer-events: none;
}

.popover.visible {
	opacity: 1;
	transform: translateY(0);
	pointer-events: auto;
}

.btnUserName {
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 14px;
	line-height: 129%;
	letter-spacing: -0.01em;
	text-align: center;
	color: var(--main-white);
}

.imgAvatar {
	border-radius: 50%;
	width: 38px;
	height: 38px;
	overflow: hidden;
}

.imgAvatar img {
	width: 100%;
	object-fit: cover;
}

.iconUserSetting {
	stroke-width: 1.50px;
	stroke: var(--main-white);
	width: 16px;
	height: 16px;
	transform: rotate(360deg);
	transition: transform 0.3s ease-in-out;
}

.iconUserSettingUp {
	transform: rotate(3.142rad);
}


.iconSettings {
	fill: none;
	stroke: var(--main);
	transition: 0.3s ease-in-out;
}

.settingsBtn {
	font-weight: 700;
	font-size: 15px;
	line-height: 149%;
	color: var(--main);
	background-color: transparent;
	padding: 0;
	display: flex;
	gap: 8px;
	align-items: center;
	margin-bottom: 8px;
	transition: 0.3s ease-in-out;
}

@media (hover: hover) and (pointer: fine) {
	.settingsBtn:hover {
		color: var(--accent);
	}

	.settingsBtn:hover .iconSettings {
		stroke: var(--accent);
	}

}

.iconLogout {
	fill: none;
	stroke: rgba(50, 63, 71, 0.4);
	transition: 0.3s ease-in-out;
}

.logoutBtn {
	font-weight: 700;
	font-size: 15px;
	line-height: 149%;
	color: rgba(50, 63, 71, 0.4);
	background-color: transparent;
	padding: 0;
	display: flex;
	gap: 8px;
	align-items: center;
	transition: 0.3s ease-in-out;
}

@media (hover: hover) and (pointer: fine) {
	.logoutBtn:hover {
		color: var(--main);
	}

	.logoutBtn:hover .iconLogout {
		stroke: var(--main);
	}

}

@media screen and (min-width: 768px) {
	.userInfo {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 49px;
	}

	.btnContainer {
		margin-bottom: 0px;
	}

	.helloUser {
		font-size: 36px;
		line-height: 106%;
		margin-bottom: 0px;
	}

	.btnUserName {
		font-size: 16px;
		line-height: 150%;
	}
}