.container {

}
.userInfo {

}

.helloUser {
font-family: "Gilroy", sans-serif;
font-weight: 400;
font-size: 32px;
line-height: 100%;
letter-spacing: -0.01em;
color: var(--main);
}

.userName {
font-weight: 700;
}
.btnUser {
border-radius: 30px;
padding: 6px 12px;
width: 137px;
height: 50px;
background-color: #323F47;
}

.btnUserName {
font-family: var(--font-family);
font-weight: 700;
font-size: 14px;
line-height: 129%;
letter-spacing: -0.01em;
text-align: center;
color: var(--main-white);
}