.sectionWaterList {
	position: relative;
	max-width: 303px;
	overflow-x: auto;
	overflow-y: hidden;
	min-height: 106px;
}

.sectionWaterList::after {
	content: '';
	display: block;
	height: 24px;
}

.sectionWaterList::-webkit-scrollbar {
	height: 8px;
	max-width: 303px;
	border-radius: 9px;
}

.sectionWaterList::-webkit-scrollbar-track {
	background: var(--main-white);
}

.sectionWaterList::-webkit-scrollbar-thumb {
	background: var(--main);
	border-radius: 9px;
}

.waterList {
	display: flex;
	gap: 8px;
	align-items: center;
	justify-content: flex-start;
}

.waterItem {
	border-radius: 15px;
	padding: 18px 14px;
	max-width: 149px;

	background: var(--main-white);
}

@media screen and (min-width: 768px) {
	.sectionWaterList {
		max-width: 640px;
		min-height: 118px;
	}

	.sectionWaterList::-webkit-scrollbar {
		max-width: 640px;
	}

	.waterList {
		gap: 32px;
	}

	.waterItem {
		padding: 20px;
		max-width: 192px;
	}
}

@media screen and (min-width: 1440px) {
	.sectionWaterList {
		max-width: 608px;

	}

	.waterList {
		gap: 16px;
	}
}

.noDataText {
	font-size: 18px;
}