.imageWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.avatarImg {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.imgInput {
  display: none;
}

.buttonUpload {
  background-color: transparent;
  display: flex;
  margin-top: 10px;
  gap: 8px;
}

.iconUpload {
  stroke: #2f2f2f;
  fill: transparent;
}

.activeTime {
  display: flex;
  gap: 4px;
  align-items: center;
}

.partWrap {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.requiredAmountWrap {
  margin-bottom: 0;
}

.inputTitleBold {
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: var(--main);
  margin-bottom: 4px;
}

.dailyTitle {
  margin-bottom: 0;
}

.inputTitleSmall {
  margin-bottom: 8px;
}

.inputTitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: var(--main-text);
}

.genderInputWrap {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 14px;
  margin-bottom: 24px;
}

.genderInput {
  display: none;
}

.radio {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.iconRadio {
  position: absolute;
  left: 0;
  top: 0;
}

.iconWrap {
  position: relative;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputField,
.border {
  border: 1px solid rgba(47, 47, 47, 0.15);
  border-radius: 15px;
  padding: 14px 16px 14px 16px;
  width: 100%;
}

.inputField {
  margin-top: 8px;
  color: var(--main-text);
}

.inputError {
  border-color: #ef5050;
  color: #ef5050;
}

.error {
  bottom: 0px;
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: #ef5050;
  position: absolute;
  bottom: -19px;
}

.borderText {
  color: rgba(47, 47, 47, 0.6);
}

.normaFormWoman {
  margin-bottom: 14px;
}

.accentText {
  font-weight: 700;
  letter-spacing: -0.01em;
  color: var(--accent);
  margin-top: 4px;
  margin-bottom: 14px;
}

.accentLiter {
  font-size: 14px;
  margin-top: 0;
  margin-left: 5px;
}

.submitBtn {
  border-radius: 30px;
  padding: 14px 40px;
  margin-top: 40px;
  background-color: var(--accent);
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--main);
}

.submitBtn:hover {
  cursor: pointer;
  background-color: #87d28d;
}

.buttonUpload {
  /* top: 20px;
  right: 16px;  */
  background-color: transparent;
}

.iconUpload {
  stroke: #2f2f2f;
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 768px) {
  .iconUpload {
    width: 20px;
    height: 20px;
  }

  .inputTitleBold {
    font-size: 18px;
    line-height: 133%;
    margin-bottom: 8px;
  }

  .inputTitle {
    font-size: 16px;
    line-height: 1.5;
  }

  .dailyTitle {
    margin-bottom: 0;
  }

  .normaForm {
    display: flex;
    gap: 28px;
  }

  .requiredAmount {
    display: flex;
  }

  .accentLiter {
    font-size: 15px;
  }

  .submitBtn {
    padding: 16px 50px;
    font-size: 16px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1440px) {
  .block {
    display: flex;
    gap: 40px;
  }

  .blockWrap {
    width: 400px;
  }

  .submitBtn {
    margin-top: 16px;
  }
}
