/* @media screen and (min-width: 1440px)  */

.SignUpPageContainer {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr 1fr;

  border-radius: 30px;
  /* margin-bottom: 8px; */
}
/* .section {
  background-color: var(--background);
  border-radius: 30px;
  padding: 118px 16px 67px;
  margin-bottom: 16px;
} */

/* .logo {
  display: flex;
  margin-bottom: 25px;
} */
