* {
  box-sizing: border-box;
}
.section {
  position: relative;
  background-color: var(--background);
  border-radius: 30px;
  padding: 118px 16px 67px;
  margin-bottom: 16px;
}

.caption {
  color: var(--main-text);
  line-height: 129%;
  letter-spacing: 0.06em;
  margin-bottom: 16px;
}

.title {
  color: var(--main);
  font-size: 38px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.01em;
  margin-bottom: 32px;
}

.wrap {
  display: flex;
  gap: 10px;
}

.wrapLink {
  color: var(--main);
  font-weight: 700;
  letter-spacing: -0.01em;
  transition: 0.3s ease-in-out;
}

.wrapTry {
  border-radius: 30px;
  padding: 14px 19px;
  background-color: var(--accent);
  transition: 0.3s ease-in-out;
}

.wrapTry:hover {
  cursor: pointer;
  background-color: #87d28d;
}

.wrapSign {
  border-radius: 30px;
  border: 1px solid var(--main);
  padding: 14px 28px;
  transition: 0.3s ease-in-out;
}

.wrapSign:hover {
  border-color: #87d28d;
}

.wrapSign:hover .wrapLink {
  color: #87d28d;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 106px 93px 50px 64px;
  }

  .title {
    font-size: 64px;
    line-height: 109%;
  }
}

@media screen and (min-width: 1440px) {
  .section {
    flex-grow: 1;
    flex-basis: 0;
    padding: 188px 61px 188px 64px;
  }

  .title {
    font-size: 80px;
    line-height: 95%;
  }
}
