/*src/pages/Base.module.css*/
/* розгортання блоків щоб футер постійно був в низу єкрана */
/*.wrapper {
	overflow: clip;
	min-height: 100vh;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}*/

.wrapper {
	/*flex-grow: 1;*/
	padding: 16px 0;
}

@media only screen and (min-width: 768px) {
	.wrapper {
		padding: 32px 0;
	}
}

/* ====================================================== */
.container {
	max-width: 375px;
	min-width: 320px;
	padding: 0 16px;
	margin: 0 auto;
}

@media only screen and (min-width: 768px) {
	.container {
		max-width: 768px;
		padding-right: 32px;
		padding-left: 32px;
	}
}

@media only screen and (min-width: 1440px) {
	.container {
		max-width: 1440px;
	}
}

/*Як імпортувати спрайти*/
/*Шляхи можуть відрізнятись в залежності від вашого положення в коді*/
/*import sprite from '../../img/svg/sprite.svg';
<svg  className= {} width="24" height="24">
   <use xlinkHref= {`${sprite}#icon-water-glass-fill`}></use>
</svg>*/


/*Як імпортувати картинки*/
/*Шляхи можуть відрізнятись в залежності від вашого положення в коді*/
/*import girlDeskImage from '../../img/girlish/girl_desk@1x.jpg';*/
/*<img src= {girlDeskImage} alt="" width={300} height={300}/>*/