/*src/pages/Base.module.css*/
/* розгортання блоків щоб футер постійно був в низу єкрана */
.wrapper {
	overflow: clip;
	min-height: 100vh;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.wrapper>main {
	flex-grow: 1;
	padding-top: 128px;
}

@media only screen and (min-width: 768px) {
	.wrapper>main {
		padding-top: 188px;
	}
}

@media only screen and (min-width: 1440px) {
	.wrapper>main {
		padding-top: 149px;
	}
}

/* ====================================================== */
.container {
	max-width: 375px;
	min-width: 320px;
	padding: 0 20px 0 20px;
	margin: 0 auto;
}

@media only screen and (min-width: 768px) {
	.container {
		max-width: 768px;
		padding-right: 32px;
		padding-left: 32px;
	}
}

@media only screen and (min-width: 1440px) {
	.container {
		max-width: 1440px;
		padding-right: 100px;
		padding-left: 100px;
	}
}