.form {
  display: flex;
  flex-direction: column;
}

.formTitle {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.2;
}

.modalSetting {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 15px;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--main-white);
  width: 343px;
  padding: 40px 20px;
  z-index: 1000;
}

@media screen and (min-width: 768px) {
  .formTitle {
    font-size: 28px;
    line-height: 1.4;
  }

  .modalSetting {
    top: 64px;
    width: 648px;
    padding: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .modalSetting {
    width: 920px;
  }
}
