.form {
  display: flex;
  flex-direction: column;
}

.formTitle {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.2;
}

.modal {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 15px;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--main-white);
  max-width: 343px;
  width: 100%;
  padding: 40px 20px;
  z-index: 1000;
}

.button {
  position: absolute;
  top: 20px;
  right: 16px;
  background-color: transparent;
}

.icon {
  stroke: #2f2f2f;
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 768px) {
  .formTitle {
    font-size: 28px;
    line-height: 1.4;
  }

  .modal {
    top: 64px;
    max-width: 648px;
    padding: 40px;
  }

  .button {
  top: 40px;
  right: 40px;
}

  .icon {
    width: 28px;
    height: 28px;
  }
}

@media screen and (min-width: 1440px) {
  .modal {
	max-width: 920px;
  }
}
