.form {
  display: flex;
  flex-direction: column;
}

.backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(47, 47, 47, 0.6);
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  overflow: scroll;
}

.modal {
  position: absolute;
  top: 80px;
  left: auto;
  right: auto;
  border-radius: 15px;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
  background: var(--main-white);
  background-color: var(--main-white);
  width: 343px;
  padding: 40px 20px;

}

.button {
  position: absolute;
  top: 20px;
  right: 16px;
  background-color: transparent;
}

.icon {
  stroke: #2f2f2f;
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 768px) {
  .modal {
    top: 64px;
    width: 648px;
    padding: 40px;
  }

  .button {
    top: 40px;
    right: 40px;
  }

  .icon {
    width: 28px;
    height: 28px;
  }
}

@media screen and (min-width: 1440px) {
  .modal {
    width: 920px;
  }
}
