.section {
  position: relative;
  background-color: var(--accent);
  border-radius: 30px;
  margin-bottom: 16px;
  padding: 24px 16px 32px;

}
.img {
  width: 262px;
  height: 335px;
  position: absolute;
  top: 53%;
  left: 50%;

  transform: translate(-50%, -50%);
}
.dailyNorm {
  margin-top: 90px;
}
.waterBar {
  margin-top: 49px;
}

