.section {
  position: relative;
  background-color: var(--accent);

  border-radius: 30px;
  margin-bottom: 16px;
  padding: 24px 16px 32px;
}
.img {
  width: 262px;
  height: 335px;
  position: absolute;
  top: 53%;
  left: 50%;

  transform: translate(-50%, -50%);
}
.dailyNorm {
  margin-top: 98px;
  width: 100%;
}
.waterBar {
  margin-top: 49px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn {
  margin-top: 42px;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
@media screen and (min-width: 768px) {
  .section {
    padding: 32px 32px 64px;
  }
  .img {
    width: 374px;
    height: 477px;
  }
  .dailyNorm {
    margin-top: 125px;
  }
  .waterBar {
    margin-top: 87px;
  }
  .btn {
    margin-top: 26px;
  }
}
@media screen and (min-width: 1440px) {
  .img {
    width: 472px;
    height: 604px;
  }
  .waterBar {
    margin-top: 215px;
  }
  .btn {
    margin-top: 56px;
  }
}
