/*index.css*/
@import url(https://fonts.googleapis.com/css?family=Poppins:regular,700&display=swap);

:root {
	--main-text: #2F2F2F;
	--main: #323F47;
	--accent: #9BE1A0;
	--background: #F0EFF4;
	--main-white: #FFFFFF;
}

body {
	font-family: Poppins, sans-serif;
	line-height: 1.3;
	font-weight: 400;
	font-size: 14px;
	background-color: var(--main-white);
	color: var(--main-text);
}

@media only screen and (min-width: 768px) {
	body {
		line-height: 1.5;
		font-size: 16px;
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

p:last-child {
	margin-bottom: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: currentColor;
	text-decoration: none;
}

button {
	font-family: inherit;
	cursor: pointer;
	border: none;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

