.wrap {
  background-color: var(--main-white);
  border-radius: 15px;
  padding: 12px;
  width: 102px;

}
.dailyNorm {
  color: var(--main);
  font-weight: 700;
  line-height: 1;
}
.text {
  color: var(--main-text);
  font-size: 10px;
  margin-top: 6px;
  line-height: 1;
  opacity: 60%;
}
