.container {
  width: 100%;
  margin-bottom: 40px;
}

.input {
  width: 100%;
  -webkit-appearance: none; 
  appearance: none;
  outline: none; 
}

.input::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 100px;
  height: 8px;
  background-color: #323F47;
  cursor: pointer;
}

.input::-moz-range-thumb {
  width: 100px;
  height: 8px;
  background-color: #323F47;
  cursor: pointer; 
}
